<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <link rel="stylesheet" href="/css/create-usuarios.css">
    <form id="form-usuario" action="/adm/usuarios" method="POST">
        <label>
            Nome:
            <input type="text" name="nome" id="nome" placeholder="Digite o nome do usuário">
        </label>
    
        <label>
            E-mail:
            <input type="email" name="email" id="email" placeholder="Digite o e-mail do usuário">
        </label>
    
        <label>
            Senha:
            <input type="password" name="senha" id="senha" placeholder="Digite a Senha">
        </label>

        <label>
            Confirmação:
            <input type="password" name="confirmacao" id="confirmacao" placeholder="Confirme a senha">
        </label>
        
        <button type="submit">Salvar</button>
    </form>
</body>
</html>