<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <link rel="stylesheet" href="/css/index-usuarios.css">
    <main>
        <a href="/adm/usuarios/create">Adicionar Usuário</a>
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sérgio Moura</td>
                    <td>smouracalmon@gmail.com</td>
                    <td>
                        <button>Remover</button>
                        <a href="/adm/usuarios/1/edit">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>