form {
    width: 480px;
    margin: 5vh auto;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    padding: 50px;
}

form label{
    display: block;
    margin-bottom: 20px;
    position: relative;
}

form label input {
    display: block;
    padding: 5px;
    border: none;
    margin-top: 10px;
    font-size: 1rem;
    width: 100%;
}

form button {
    display: block;
    font-size: 1rem;
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
}